@using TeaShopApi.WebUI.Dtos.AboutDtos
@model CreateAboutDto
@{
    ViewData["Title"] = "CreateDrink";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Açıklama Girişi</h1>

<form method="post">


    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <label>Resim</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <button class="btn btn-primary">Açıklama Ekle</button>

</form>