<div class="footer_section layout_padding">
    <div class="container">

        @await Html.PartialAsync("_SubscribePartial")

        <div class="footer_taital_main">
            <div class="row">
                <div class="col-lg-4 ">
                    <h2 class="useful_text">Hakkımızda</h2>
                    <p class="ipsum_text">
                       Bitki çaylarında bir çığır açtık.
                    </p>
                </div>
               
                
                <div class="col-lg-4">
                    <h2 class="useful_text">Kullanışlı Linkler</h2>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Anasayfa</a></li>
                            <li><a href="#">Menü</a></li>
                            <li><a href="#">Fiyatlar </a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <h2 class="useful_text">İletişime Geç</h2>
                    <div class="addres_link">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/map-icon.png"><span class="padding_left_10">
                                      İZMİR
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/call-icon.png"><span class="padding_left_10">
                                        +01
                                        1234567890
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/teab-1.0.0/images/mail-icon.png"><span class="padding_left_10">bora.bayuk@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 class="follow_text">Bizi Takip Edin</h1>
            <div class="social_icon">
                <ul>
                    <li><a href="#"><img src="~/teab-1.0.0/images/fb-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="~/teab-1.0.0/images/linkedin-icon.png"></a></li>
            
                </ul>
            </div>
        </div>
    </div>
</div>