@using TeaShopApi.Entity.Concrete
@model Message
<div class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="mail_main">
                    <h1 class="contact_taital">İletişim Kur</h1>
                    <form asp-action="AddContact" asp-controller="Default" method="post">
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Adınız" asp-for="MessageSenderName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Konu" asp-for="MessageSubject">
                        </div>
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Mail" asp-for="MessageEmail">
                        </div>
                        <div class="form-group">
                            <textarea class="massage-bt" placeholder="Mesajınız" rows="5" id="comment" asp-for="MessageDetail"></textarea>
                        </div>

                        <div class="send_btn">
                            <div class="main_bt"><button class="btn btn-outline-dark" type="submit" onclick="sendMessage();" id="bora">Gonder</button></div>
                        </div>

                    </form>

                
                        </div>
               
           
            </div>
            <div class="col-md-6">
                <div class="map_main">
                    <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48152.69528633698!2d29.01271007818618!3d41.035243200158526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac826d524c9f1%3A0xc14f7612337b7f38!2zw5xza8O8ZGFyL8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1519733547760"
                                width="600" height="600" frameborder="0" style="border:0; width: 100%;"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                


    <script>



    function sendMessage() {
        Swal.fire({

            title: 'Tebrikler',
            text: 'Mesajınız başarıyla gönderildi, size en kısa sürede cevap verilecektir.',
            icon: 'success',
            showCancelButton: true,
            confirmButtonText: 'Tamam',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Default/Index"; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }

     
</script>


              