@using TeaShopApi.WebUI.Dtos.MessageDtos
@model CreateMessageDto
@{
    ViewData["Title"] = "CreateDrink";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Mesaj Girişi</h1>

<form method="post">


    <label>İçecek Adı</label>
    <input type="text" asp-for="messageSenderName" class="form-control" />
    <br />

    <label>İçecek Fiyatı</label>
    <input type="text" asp-for="messageSubject" class="form-control" />
    <br />

    <label>İçecek Görseli</label>
    <input type="text" asp-for="messageEmail" class="form-control" />
    <br />

    <label>İçecek Görseli</label>
    <input type="text" asp-for="messageDetail" class="form-control" />
    <br />

    <label>İçecek Görseli</label>
    <input type="datetime" asp-for="messageSendDate" class="form-control" />
    <br />

    <button class="btn btn-primary">Mesajı Ekle</button>

</form>