@model List<ResultQuestionDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">

            <div class="card-header">
                <h5>
                    İçecek İşlemleri
                </h5>

            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Soru</th>
                        <th>Cevap</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th>@count</th>
                            <th>@item.QuestionDetail</th>
                            <th>@item.AnswerDetail</th>
                            <td><a href="/Admin/Question/DeleteQuestion/@item.QuestionID/" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Admin/Question/UpdateQuestion/@item.QuestionID/" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>

                    }

                </table>

                <a href="/Admin/Question/CreateQuestion/">Soru Ekle</a>
            </div>
        </div>
    </div>
   
</div>



